@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-textcolor: #ffffff;
  --bg-color: rgba(0, 0, 0, 0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;

  /* font-family: Inter, sans-serif; */
  color: var(--main-textcolor);
  background-color: var(--bg-color);

  &.no-scroll {
    overflow: hidden;
  }
}

section {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HERO STYLES */

.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 24, 38),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(rgba(2, 15, 8, 0.3), rgba(2, 15, 8, 0.3)),
    url('/assets/images/hero-section/bg-hero-mobile-tablet.jpg');
  background-size: 100% 287px, cover, cover;
  background-position: 0 0, center, center;
  background-repeat: no-repeat;
}

.section-hero-desktop {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 24, 38, 0.8),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url('/assets/images/hero-section/bg-hero-desktop.jpg');
  background-size: 100% 172px, cover, cover;
  background-position: 0 0, center, center;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 24, 38),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(rgba(2, 15, 8, 0.3), rgba(2, 15, 8, 0.3)),
      url('/assets/images/hero-section/bg-hero-mobile-tablet@2x.jpg');
    background-size: 100% 287px, cover, cover;
    background-position: 0 0, center, center;
    background-repeat: no-repeat;
  }

  .section-hero-desktop {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 24, 38, 0.8),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('/assets/images/hero-section/bg-hero-desktop@2x.jpg');
    background-size: 100% 172px, cover, cover;
    background-position: 0 0, center, center;
    background-repeat: no-repeat;
  }
}

.menu-container {
  z-index: 5;
  background-color: rgba(1, 10, 5, 0.75);
  backdrop-filter: blur(15px);
}

/* ABOUT STYLES */

.section-about {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 24, 38, 0.8),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url('/assets/images/about-section/bg-about-mobile.jpg');
  background-size: 100% 247px, cover, cover;
  background-position: 0 0, center, center;
  background-repeat: no-repeat;
}

.section-about-tablet {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 24, 38, 0.8),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url('/assets/images/about-section/bg-about-tablet.jpg');
  background-size: 100% 247px, cover, cover;
  background-position: 0 0, center, start;
  background-repeat: no-repeat;
}

.section-about-desktop {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 24, 38, 0.8),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url('/assets/images/about-section/bg-about-desktop.jpg');
  background-size: 100% 258px, cover, cover;
  background-position: 0 0, center, start;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-about {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 24, 38, 0.8),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('/assets/images/about-section/bg-about-mobile@2x.jpg');
    background-size: 100% 247px, cover, cover;
    background-position: 0 0, center, center;
    background-repeat: no-repeat;
  }

  .section-about-tablet {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 24, 38, 0.8),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('/assets/images/about-section/bg-about-tablet@2x.jpg');
    background-size: 100% 247px, cover, cover;
    background-position: 0 0, center, start;
    background-repeat: no-repeat;
  }

  .section-about-desktop {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 24, 38, 0.8),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('/assets/images/about-section/bg-about-desktop@2x.jpg');
    background-size: 100% 258px, cover, cover;
    background-position: 0 0, center, start;
    background-repeat: no-repeat;
  }
}

/* SERVICES STYLES */

.active-slide::before {
  content: '';
  position: absolute;
  left: -16px;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background-color: var(--main-textcolor);
  transform: rotate(45deg);
}

/* CAREER STYLES */

.section-career {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 24, 38, 0.75),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(to top, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/assets/images/career-section/bg-career-mobile-tablet.jpg');
  background-size: 100% 247px, 100% 247px, cover, cover;
  background-position: 0 0, 0 100%, center, center;
  background-repeat: no-repeat;
}

.section-career-desktop {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 24, 38, 0.8),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(to top, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url('/assets/images/career-section/bg-career-desktop.jpg');
  background-size: 100% 172px, 100% 172px, cover, cover;
  background-position: 0 0, 0 100%, center, center;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-career {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 24, 38),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(to top, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.3), rgba(2, 15, 8, 0.3)),
      url('/assets/images/career-section/bg-career-mobile-tablet@2x.jpg');
    background-size: 100% 287px, 100% 287px, cover, cover;
    background-position: 0 0, 0 100%, center, center;
    background-repeat: no-repeat;
  }

  .section-career-desktop {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 24, 38, 0.8),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(to top, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('/assets/images/career-section/bg-career-desktop@2x.jpg');
    background-size: 100% 172px, 100% 172px, cover, cover;
    background-position: 0 0, 0 100%, center, center;
    background-repeat: no-repeat;
  }
}

.grid-career-tablet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 81px 153px 1fr;
  column-gap: 20px;

  @media screen and (min-width: 1280px) {
    grid-template-rows: 128px 72px 1fr;
    grid-template-columns: 626px 1fr 293px;
    column-gap: 0;
  }
}

.grid-career-item-1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

.grid-career-item-2 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}

.grid-career-item-3 {
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
}

.grid-career-item-4 {
  align-self: end;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  @media screen and (min-width: 1280px) {
    align-self: auto;
  }
}

.grid-career-item-5 {
  margin-top: 32px;
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
}

.error-message {
  position: absolute;
  right: 0;
  bottom: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: rgba(255, 87, 87, 1);
  font-weight: 200;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.4px;
}

.hidden-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked + .custom-checkbox > span {
    background-color: var(--main-textcolor);
  }
}

.custom-checkbox {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: -30px;
  border: 1px solid var(--main-textcolor);
}

.inner-checkbox-marker {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.input-autofill:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}

/* GALLERY STYLES */

.section-gallery {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 24, 38),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85)),
    url('/assets/images/gallery-section/bg-gallery-mobile-tablet.jpg');
  background-size: 100% 247px, 100% 247px, cover, cover;
  background-position: 0 0, 0 100%, center, center;
  background-repeat: no-repeat;
}

.section-gallery-desktop {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 24, 38),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85)),
    url('/assets/images/gallery-section/bg-gallery-desktop.jpg');
  background-size: 100% 172px, 100% 172px, cover, cover;
  background-position: 0 0, 0 100%, center, center;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-gallery {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 24, 38),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85)),
      url('/assets/images/gallery-section/bg-gallery-mobile-tablet@2x.jpg');
    background-size: 100% 287px, 100% 287px, cover, cover;
    background-position: 0 0, 0 100%, center, center;
    background-repeat: no-repeat;
  }

  .section-gallery-desktop {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 24, 38),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85)),
      url('/assets/images/gallery-section/bg-gallery-desktop@2x.jpg');
    background-size: 100% 172px, 100% 172px, cover, cover;
    background-position: 0 0, 0 100%, center, center;
    background-repeat: no-repeat;
  }
}

.animated-image-wrapper {
  transition: width 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.swiper-slide > .animated-image-wrapper::before {
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 15, 8, 0.75);
    z-index: 1;
  }
}

.swiper-slide-prev {
  width: 121px;

  & > div {
    left: 0;
  }
}

.swiper-slide-next {
  width: 121px;

  & > div {
    right: 0;
  }
}

.swiper .swiper-button-prev {
  width: 121px;
  left: 0;
  top: 100%;
  transform: translate(0, calc(-17px + -50%));
  pointer-events: none;

  @media screen and (min-width: 1280px) {
    width: 313px;
    transform: translate(0, -50%);
  }

  &::before {
    content: 'Back';
    position: absolute;
    right: 0;
    font-weight: 100;
    font-size: 33px;
    color: var(--main-textcolor);
    text-transform: uppercase;
    line-height: 1.21;
    pointer-events: all;
  }

  &::after {
    display: none;
  }
}

.swiper .swiper-button-next {
  width: 121px;
  right: 0;
  top: 100%;
  transform: translate(0, calc(-17px + -50%));
  pointer-events: none;

  @media screen and (min-width: 1280px) {
    width: 313px;
    transform: translate(0, -50%);
  }

  &::before {
    content: 'Next';
    position: absolute;
    left: 0;
    font-weight: 100;
    font-size: 33px;
    color: var(--main-textcolor);
    text-transform: uppercase;
    line-height: 1.21;
    pointer-events: all;
  }

  &::after {
    display: none;
  }
}

/* CONTACTS STYLES */

.section-contacts {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 24, 38),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/assets/images/contacts-section/bg-contacts-mobile-tablet.jpg');
  background-size: 100% 247px, 100% 247px, cover, cover;
  background-position: 0 0, 0 100%, center, center;
  background-repeat: no-repeat;
}

.section-contacts-desktop {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 24, 38),
      rgba(0, 37, 49, 0)
    ),
    linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('/assets/images/contacts-section/bg-contacts-desktop.jpg');
  background-size: 100% 172px, 100% 172px, cover, cover;
  background-position: 0 0, 0 100%, center, center;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-contacts {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 24, 38),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url('/assets/images/contacts-section/bg-contacts-mobile-tablet@2x.jpg');
    background-size: 100% 287px, 100% 287px, cover, cover;
    background-position: 0 0, 0 100%, center, center;
    background-repeat: no-repeat;
  }

  .section-contacts-desktop {
    background-image: linear-gradient(
        to bottom,
        rgb(0, 24, 38),
        rgba(0, 37, 49, 0)
      ),
      linear-gradient(to top, rgb(0, 24, 38), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url('/assets/images/contacts-section/bg-contacts-desktop@2x.jpg');
    background-size: 100% 172px, 100% 172px, cover, cover;
    background-position: 0 0, 0 100%, center, center;
    background-repeat: no-repeat;
  }
}

.error-message-contacts {
  position: absolute;
  right: 0;
  bottom: -100%;
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgba(255, 87, 87, 1);
  font-weight: 200;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.4px;
}
